---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.updateDate.valueOf() - a.data.updateDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <div class="max-w-screen-xl mx-auto px-5">
      <main
        class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24"
      >
        <div class="py-6 md:order-1 hidden md:block">
          <img
            src="/astro.svg"
            alt="Astronaut in the air"
            loading="eager"
            width="400"
            height="400"
            decoding="async"
          />
        </div>
        <div>
          <h1
            class="prompt-medium text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
          >
            Let's build the beautiful planet.
          </h1>
          <p class="text-lg mt-4 text-slate-600 max-w-xl">
            This is a personal blog that build with Astro and Tailwind CSS. I
            hope you enjoy reading my articles.
          </p>
        </div>
      </main>
      <div class="mt-16 md:mt-0">
        <h3 class="text-2xl lg:text-3xl font-bold lg:tracking-tight">
          Latest articles
        </h3>

        <div class="mt-10 grid gap-10 md:grid-cols-3 lg:gap-10 xl:grid-cols-3">
          {
            posts
              .slice(0, 6)
              .map((post) => (
                <Card
                  title={post.data.title}
                  description={post.data.description}
                  category={post.data.category}
                  imgSrc={post.data.heroImage!}
                  href={`/blog/${post.id}/`}
                  author="Mario Sanchez"
                />
              ))
          }
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>
